button#arrow_v{ -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                -ms-user-select: none;}
#div1{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 700px;
    height: 700px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: url(resize.cur), auto ;
}
#div1 img{
    position: relative;
}
#div_rotate{
    height: 701px;
    margin-left: 20px;
    width: 30px;
}
#rotate{
    background: #ffffff;
    z-index: 10;
    height: 30px;
    width: 694px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    cursor: url(rotate.cur), default;
}
#crop{
    pointer-events:none;
    background: transparent;
    position: absolute;
    border: 1px #000000 solid;
    z-index: 400;
}
#crop>div{
    pointer-events:none;
    background: rgba(226, 56, 56, 0);
    position: relative;
    border:1px dashed  #ffffff;
    height: 100% !important;
    width: 100% !important;
    z-index: 399;margin:-1px;
}
#v_line{
    border: none;
    background-color: red;
    color: red;
    height: 1px;
    z-index: 401;
    width: 100%;
    transform: rotate(90deg) translateX(50%);
    position: relative;
    margin: 0px;
    -webkit-margin-before: 1px;
    -webkit-margin-after: 1px;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    cursor:pointer
}
.cropped{
    position: absolute;
    top:10px;
    left: 778px;
    width: calc(100% - 800px);
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.cropped div{
    align-self: flex-start;
    position: relative;
}
.cropped img{
    max-width: 100%;
    align-self: flex-start;
    padding-bottom: 10px;
}
.del{
    position: absolute;
    top: 0px;
    right: 0;
}
#right_mark{
    border: 1px solid #c0c0c0;
    margin-left: 386px;
    width: 358px;
    margin-bottom: 5px;
    cursor: url(arrow2.cur),crosshair;
}

#mark{
    height: 4px;
    width: 10px;
    background: #cd0a0a;
    cursor:pointer;
}

#bottom_mark{
    height: 360px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 749px;
    border:  solid 1px #d0d0d0;
    cursor: url(arrow1.cur),crosshair;
}

#bottom_mark div{
    height: 10px;
    width: 6px;
    background: #cd0a0a;
    cursor: pointer;
}

#h_line{
    border: none;
    background-color: red;
    color: red;
    height: 1px;
    z-index: 401;
    width: 100%;
    position: absolute;
    top: -10px;
    cursor:pointer;
    margin: 0;
}

#size_mark{
    background: aquamarine;
    position: absolute;
    top: 10px;
    left: 762px;
    height: 700px;
    width: 8px;
}

#mark_s{
    height: 12px;
    width: 4px;
    top: 345px;
    background: red;
    border: outset 2px;
    cursor: pointer;
}

#arrow_v{
    margin-left: 63px;
    background-image: url(arrow_v_green.png) ;
}

#arrow_h{
    background-image: url(arrow_h_green.png) ;
}

.arrow_vh{
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(223, 240, 255);
    height: 22px;
    width: 22px;
    outline: none;
    vertical-align: bottom;
    text-align: center;
}
#list_files{
    height: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #c0c0c0;
    /*width: 100%;*/
}